@import url('https://fonts.googleleapis.com/css?family=open+sans!poppins:400,700&display=swap');
main{
	display: flex;
	justify-content: center;
	margin: 40px;
}

body{
	background-image: url(bg-desktop.svg);
	background-color: hsl(257, 40%, 49%);
	color: #fff;
	font-family: 'open sans', sans-serif;
}

button{
	width: 150px;
    padding: 1em;
    height: 40px;
    border-radius: 20px;
    color: hsl(257, 40%, 49%);
    outline: none;
    border: none;
}

.illustration-mockups{
	width: 100%;
}

.text{
	max-width: 400px;
	margin: 20px;
	font-family: 'poppins', sans-serif;
}

.social_handles{
	position: absolute;
    bottom: 0%;
    right: 5%;
}


@media(max-width: 768px){
	main{
		flex-direction: column;
	}

	body{
		background-image: url(bg-mobile.svg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	.illustration-mockups{
	width: 10%;
    }

	.text{
		margin: 0;
		width: 100%;
	}

	.social_handles{
	display: none;
    }
}
